<div>
  <div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">User Information</h5>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Application</th>
    <th scope="col">Domain</th>
    <th scope="col">Roles</th>
    <th scope="col">Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ent of entitlements; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ent.app}}</td>
    <td>{{ ent.domain}}</td>
    <td>{{ ent.roles }}</td>
    <td><button class="btn btn-primary" (click)="editClick(ent)">Edit</button></td>
  </tr>
  </tbody>
</table>
